**중앙값을 사용하는 이유**
- ```이상치``` : 평균의 대표성을 무너뜨리는 값
- ```중앙값``` : 대표성이 무너지는 것을 해결하기 위한 대안으로 사용

**보스턴 집값 예측**

In [1]:
# 라이브러리 사용

import tensorflow as tf
import pandas as pd

In [4]:
# 1. 과거의 데이터를 준비합니다.

파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [39]:
# 독립변수와 종속변수 분리하기

독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [40]:
# 2. 모델의 구조를 만듭니다.

# 퍼셉트론 구조
# 13개의 입력을 받는 입력층을 구성
X = tf.keras.layers.Input(shape=[13])

# 1개의 출력을 만드는 출력층을 구성
# (= 13개의 입력으로부터 1개의 출력을 만들어내는 구조를 만드는 것)
Y = tf.keras.layers.Dense(1)(X)

# 위 줄까지 끝나면 어떤 수식이 만들어지는가?
# y = w1x1 + w2x2 + ... + w13x13 + b
# 만약 종속변수를 2개로 한다면, 수식도 2개가 생긴다!!

model = tf.keras.models.Model(X, Y)
model.compile(loss = 'mse')

In [49]:
# 3. 데이터로 모델을 학습(fit)합니다.

model.fit(독립, 종속, epochs = 10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 24.9380
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 24.5870
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 24.4608
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 24.8890
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 24.4960
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 24.5254
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 24.5319
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 24.0516
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 24.3976
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 25.2715

In [50]:
# 4. 모델을 이용합니다.

model.predict(독립[0:5])

array([[29.378798],
       [24.125513],
       [30.748516],
       [29.536476],
       [29.13828 ]], dtype=float32)

In [51]:
종속[0:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [53]:
# 모델의 수식 확인

model.get_weights()  # 앞 13개는 가중치(weight), 마지막 하나는 편향(bias)

[array([[-0.09057359],
        [ 0.04873818],
        [-0.03348272],
        [ 2.6900003 ],
        [ 1.1891207 ],
        [ 5.330133  ],
        [-0.0125751 ],
        [-1.0037082 ],
        [ 0.18484747],
        [-0.01120081],
        [-0.44407713],
        [ 0.01338676],
        [-0.46603358]], dtype=float32), array([4.7517343], dtype=float32)]